.container__menu-title {
  color: white;
  padding: 1.25rem;
}

.container__menu-title > h1 {
  padding-block: 2rem;
  font-size: clamp(2rem, 10vw, 8.5rem);
  font-family: "segoe UI", sans-serif;
  text-align: center;
  line-height: 1;
}

.container__menu-title::before,
.container__menu-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background: white;
}

.container__menu-title > h1 > span {
  background: #ec1d24;
  line-height: 1;
}
