.container__articles {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem;
  max-width: 60%;
  margin-inline: auto;
}

.articles__main {
  flex: 60;
  max-width: 500px;
}

.articles__others {
  flex: 40;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articles__others > *:first-child {
  display: none;
}
