<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main" *ngIf="marvelData[0] as data">
    <app-card
      [Id]="+data.id"
      photoCover="{{ data.thumbnail.path + '.' + data.thumbnail.extension }}"
      alt="{{ data.title }}"
      cardTitle="{{ data.title }}"
      cardDescription="{{ data.description }}"
    >
    </app-card>
  </div>
  <div class="articles__others">
    <div *ngFor="let data of marvelData">
      <app-card
        [Id]="+data.id"
        alt="{{ data.title }}"
        cardTitle="{{ data.title }}"
        photoCover="{{ data.thumbnail.path + '.' + data.thumbnail.extension }}"
      >
      </app-card>
      <hr />
    </div>
  </div>
</div>
