<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main" *ngIf="marvelData[0] as data">
    <app-big-card
      [Id]="+data.id"
      photoCover="{{ data.thumbnail.path + '.' + data.thumbnail.extension }}"
      alt="{{ data.title }}"
      cardTitle="{{ data.title }}"
      cardDescription="{{ data.description }}"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let data of marvelData"
      [Id]="+data.id"
      cardTitle="{{ data.title }}"
      photoCover="{{ data.thumbnail.path + '.' + data.thumbnail.extension }}"
    >
    </app-small-card>
  </div>
</div>
