.container__menu-bar {
  width: 100%;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.container__menu-bar > ul > li {
  list-style: none;
}

.container__menu-bar > ul > li:not(:last-child):after {
  content: "•";
  display: inline;
  width: 100%;
  margin-left: 1rem;
}

.container__menu-bar > ul > li > a {
  position: relative;
  transition: 0.3s;
}

.container__menu-bar > ul > li > a:hover,
.container__menu-bar > ul > li > a:focus {
  outline: 0;
  opacity: 0.7;
}

.container__menu-bar > ul > li > a::before {
  position: absolute;

  content: "";
  display: block;
  top: 1.5rem;
  width: 0;
  height: 0;
  background: transparent;
}
